@tailwind base;
@tailwind components;
@tailwind utilities;


.sideNav::-webkit-scrollbar {
    width: 0.01px;
}
  
/* Track */
.sideNav::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
.sideNav::-webkit-scrollbar-thumb {
    background: transparent;
}
  
/* Handle on hover */
.sideNav::-webkit-scrollbar-thumb:hover {
    background: red;
}

.sideBarList {
	@apply w-[94px] h-20 rounded flex justify-center flex-col items-center cursor-pointer
}